.home {
	display: flex;

	.homeContainer {
		// background-color: lightcoral;
		flex: 6;

		.widgets,
		.charts {
			display: flex;
			align-items: first baseline;
			padding: 20px;
			gap: 20px;
			flex-wrap: wrap;
		}

		.charts {
			padding: 5px 20px;
		}

		.tableContainer {
			margin: 20px;
			padding: 20px;

			/* Ensure the table container has scrollable content */
			// overflow-x: auto;
			// max-width: 100%;

			-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
			box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

			.tableTitle {
				font-size: 16px;
				font-weight: 500;
				color: gray;
				margin-bottom: 15px;
			}
		}
	}
}
